@import 'styles/spectate';

// @import 'styles/eye-lead-ellipsis';
// @import 'styles/news-ellipsis';

.lede-container {
  height: 300px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
